---
import { Image } from 'astro:assets';
import { getEntries, getEntry } from 'astro:content';
import Links from '../../../core/links.js';
import InternalLink from '../../InternalLink.astro';
import TechIcon from '../../icons/TechIcon.astro';

import type { CollectionEntry } from 'astro:content';

const selectedWorksSlugs: Array<CollectionEntry<'works'>['slug']> = [
  'portfolio-website',
];
const selectedWorks = await Promise.all(
  selectedWorksSlugs.map((slug) => getEntry('works', slug)),
);
---

<section>
  <header>
    <h2>대표 작업물</h2>
    <InternalLink href="/works">모두 보러 가기</InternalLink>
  </header>

  <div>
    {
      selectedWorks.map(async (work, i) => {
        const techs = await getEntries(work.data.techs);

        return (
          <article>
            <InternalLink href={Links.work(work.slug)}>
              <Image
                src={work.data.cover}
                alt="썸네일"
                {...(i < 2 ? { decoding: 'sync', loading: 'eager' } : {})}
                aria-hidden="true"
                class="h-auto w-full"
              />
              <h3>{work.data.title}</h3>
              <p>{work.data.description}</p>
              <ul>
                {techs.map((tech) => (
                  <li>
                    <TechIcon width={20} height={20} icon={tech.data.icon} />
                    {tech.data.fullName}
                  </li>
                ))}
              </ul>
            </InternalLink>
          </article>
        );
      })
    }
  </div>
</section>
