---
import { listIconPath } from '../icon-path.js';
import Button from './Button.astro';
import InternalLink from './InternalLink.astro';

export type { Props as HeaderProps };

interface Props {
  pageName: string;
}

const { pageName } = Astro.props;

const OPEN_NAV_BUTTON_ID = 'open-nav-button';
const NAV_ID = 'nav-menu';
---

<header>
  <div>
    <span aria-hidden="true">yeong-woo.<span>{pageName}</span></span>
    <Button
      id={OPEN_NAV_BUTTON_ID}
      aria-label="탐색 메뉴 열기"
      aria-expanded="false"
      aria-controls="nav-menu"
    >
      <svg width="32" height="32" fill="none" viewBox="0 0 48 48">
        <path fill="currentColor" d={listIconPath}></path>
      </svg>
    </Button>
  </div>

  <nav id={NAV_ID} class="hidden">
    <ul>
      <li>
        <InternalLink href="/">홈</InternalLink>
      </li>
      <li>
        <InternalLink href="/works">작업물</InternalLink>
      </li>
      <li>
        <a href="https://blog.yeongwoo.dev/">블로그</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  import { listIconPath, xIconPath } from '../icon-path.js';

  const OPEN_NAV_BUTTON_ID = 'open-nav-button';

  const openNavButton = document.getElementById(OPEN_NAV_BUTTON_ID);
  if (!(openNavButton instanceof HTMLButtonElement)) {
    throw new Error(`Can not find "${OPEN_NAV_BUTTON_ID}" element`);
  }
  const buttonIconPath = openNavButton.getElementsByTagName('path').item(0);
  if (!(buttonIconPath instanceof SVGPathElement)) {
    throw new Error(
      `Can not find <path> child of "${OPEN_NAV_BUTTON_ID}" element`,
    );
  }

  const controlledId = openNavButton.getAttribute('aria-controls');
  if (controlledId === null) {
    throw new Error(
      `There is no controlled element by "${OPEN_NAV_BUTTON_ID}"`,
    );
  }
  const nav = document.getElementById(controlledId);
  if (!(nav instanceof HTMLElement)) {
    throw new Error(
      `Can not find "${controlledId}" element that controlled by "${OPEN_NAV_BUTTON_ID}"`,
    );
  }

  openNavButton.addEventListener('click', function () {
    const ariaExpanded = this.ariaExpanded === 'true' ? true : false;

    if (ariaExpanded) {
      nav.classList.replace('flex', 'hidden');
      buttonIconPath.setAttribute('d', listIconPath);
      this.ariaExpanded = 'false';
    } else {
      nav.classList.replace('hidden', 'flex');
      buttonIconPath.setAttribute('d', xIconPath);
      this.ariaExpanded = 'true';
    }
  });
</script>
