---
import { Image } from 'astro:assets';
import { getEntries } from 'astro:content';
import Links from '../core/links.js';
import InternalLink from './InternalLink.astro';
import TechIcon from './icons/TechIcon.astro';

import type { CollectionEntry } from 'astro:content';

interface Props {
  work: CollectionEntry<'works'>;
  /**
   * @default false
   */
  shouldEagerLoadImage?: boolean;
  class?: string;
}

const { work, shouldEagerLoadImage = false, class: className } = Astro.props;

const techs = await getEntries(work.data.techs);
---

<article class={className}>
  <InternalLink href={Links.work(work.slug)} class="block">
    <Image
      src={work.data.cover}
      alt="썸네일"
      {...shouldEagerLoadImage ? { decoding: 'sync', loading: 'eager' } : {}}
      aria-hidden="true"
      class="mb-4 h-auto w-full"
    />
    <div class="px-1">
      <h3 class="mb-2 text-[1.5rem] font-bold text-primary">
        {work.data.title}
      </h3>
      <p class="mb-3 text-[1.125rem] text-secondary">
        {work.data.description}
      </p>
      <ul class="flex flex-wrap gap-5">
        {
          techs.map((tech) => (
            <li class="flex gap-2">
              <TechIcon
                width={20}
                height={20}
                icon={tech.data.icon}
                aria-hidden="true"
              />
              <span class="text-[1rem] text-secondary">
                {tech.data.fullName}
              </span>
            </li>
          ))
        }
      </ul>
    </div>
  </InternalLink>
</article>
